.container{
    width: 960px;
    margin: 0 auto;
    color: #343a40;
    font-family: "Inter", sans-serif;
}

header{
    margin-bottom: 64px;
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.header-text-box{
    width: 450px;
    align-self: center;
}

h1{
    font-size: 44px;
    margin-bottom: 32px;
    letter-spacing: -1px;
    line-height: 1.1;

}
p{
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 1.7;
}
.btn{
    margin-top: 20px;
}
a{
   background-color: #099268;
   padding: 16px 32px; 
   color: #fff;
   text-decoration: none;
   font-size: 18px;
   text-transform: uppercase;
   font-weight: 600;
   border-radius: 100px;
   margin-top: 20px;
}

header img {
width: 420px;
height: 420px;
border-radius: 20px;
}

section{
    margin-top: 96px;
}

h2{
    font-size: 36px;
    margin-bottom: 48px;
    letter-spacing: -0.5px;
}

.flex-3-cols{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.features-icon{
    width: 32px;
    height: 32px;
    stroke: #087f5b;
    margin-bottom: 24px;
}
.features-title{
    font-size: 20px;
    margin-bottom: 18px;
    font-weight: 800;
}
.features-text{
    font-size: 18px;
    line-height: 1.7;
}

.testimonial-section{
    background-color: #087f5b;
    padding: 20px;
    height: 200px;
    border-radius: 10px;

}
.flex-2-cols{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.flex-2-cols img{
    width: 250px;
    height: 100%;
    border-radius: 10px;
}
.testimonial-box{
    width: 650px;
    color: #fff;
}

blockquote{
    margin: 0;
    font-size: 18px;
    font-style: italic;
}

.flex-2-cols h2{
    font-size: 24px;
}
.testimonial-author{
    font-size: 16px;
    color: #c3fae8;
}
